[[constraint]]
  name = "github.com/hashicorp/vault"
  version = "v1.0.0"

[[constraint]]
  name = "github.com/sirupsen/logrus"
  version = "1.2.0"

[[constraint]]
  name = "github.com/spf13/cobra"
  version = "0.0.3"

[[constraint]]
  name = "github.com/spf13/viper"
  version = "1.2.1"

[prune]
  go-tests = true
  unused-packages = true
